body {
  background-color: #DDD;
  margin-left: 10%;
  margin-right: 10%;
}

#teamSize {
  width: 2.5em;
}

#newStudentName {
  width: 40%;
}

a {
  display: table;
  text-decoration: none;
  color: black;
  margin: 4px;
}

#studentList a:hover {
  text-decoration: line-through;
}
